# Ignorar entornos virtuales
venv/
ML/venv/

# Ignorar modelos grandes
yolov8x-seg.pt
ML/yolov8x-seg.pt

# Ignorar directorios no deseados
clip-vit-base-patch32/
ML/clip-vit-base-patch32/

# Ignorar archivos de caché
__pycache__/
